
@media screen and (max-width: 1500px ) {
    #grid-container-services{
        grid-column: span 2;
        grid-template-rows: auto;
    }
    #about-client-text{
        grid-row: 15;
    }
    #about-client-img{
        grid-row: 16;
    }
    .grid-container-socials{
        grid-template-columns: auto auto auto;
        row-gap: 0.75em;
    }
    #amCopyright{
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row: 2;
        justify-self: flex-start;
    }
}

/* Changing background slideshow size */
@media screen and (max-widtH: 1450px) {
    .slideshow-container{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto; */
        position: fixed;
        /* overflow: hidden; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
        .mySlides{
            width: 500px;
            position: absolute;
            justify-self: center;
            align-items: center;
            margin-top: -200px;
            margin-left: -250px;
        }
    
}



@media screen and (max-width: 1350px ) {
    p{
        font-size: 16px;
        line-height: 19px;
    }
    .grid-container-workmenu{
        row-gap: 2.5em;
    }
    /* ABOUT SECTION RESIZING */
    .grid-container-about{
        row-gap: 1.5em;
    }
    .grid-item-about{
        grid-column-start: 1;
        grid-column-end: span 2;
    }
    #alex-text{
        grid-row: 3;
    }
    #minka-img{
        grid-row: 6;
    }
    #minka-text{
        grid-row: 7;
    }
    #about-services{
        grid-row: 10;
        margin-top: 2em;
    }
    #about-client{
        grid-row: 19;
        padding-top: 2em;
    }
    #about-client-text{
        grid-row: 20;
    }
    #about-client-img{
        grid-row: 21;
    }
    #grid-container-services{
        grid-template-rows: auto;
    }

    #grid-container-clients{
        grid-template-columns: auto auto;
    }
    /* CONTACT SECTION RESIZING */
    .grid-container-contact{
        padding-bottom: 4em;
        row-gap: 1.25em;
        height: auto;
    }
    #address,
    #enquiries{
        grid-column: 1 /span 2;
    }
    #contact-socials{
        grid-row: 6;
    }
}
@media screen and (max-width: 1200px) {
    /* CONTACT SECTION RESIZING */
    /* #contact-socials{
        grid-row: 6;
    }        
    #contact-form{
        grid-row: 4;
    } */

}
@media screen and (max-width: 1024px ) {
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 24px;
    }
    /* Making RIGHT cont full width */
    #rightcont.showme{
        width: 100%;
    }
    .grid-container-workmenu,
    .grid-container-about,
    #about-intro,
    .grid-container-contact{
        padding-left: 11em;
    }
    .grid-container-about{
        width: 100%;
    }
    .grid-container-about{
        grid-template-columns: 50% 50%;
    }
    /* grid ITEMS composition of ABOUT */
    /* ABOUT SECTION RESIZING */
    .grid-container-about{
        row-gap: 1.5em;
    }
    .grid-item-about{
        grid-column-start: 1;
        grid-column-end: span 1;
    }
    #alex-text{
        grid-row: 3;
    }
    #ahna-img{
        grid-column: 2;
        grid-row: 2;
    }
    #ahna-text{
        grid-column: 2;
        grid-row: 3;
    }
    #minka-img{
        grid-row: 4;
    }
    #minka-text{
        grid-row: 5;
    }
    #lauren-img{
        grid-column: 2;
        grid-row: 4;
    }
    #lauren-text{
        grid-column: 2;
        grid-row: 5;
    }
    #about-services{
        grid-column-start: 1 / span 2;
        grid-row: 6;
    }
    #about-client-text{
        grid-row: 11;
    }
    #about-client-img{
        grid-row: 12;
    }
    #grid-container-services{
        grid-template-rows: auto auto;
        grid-column: span 1;
    }
    /* .col-2{
        grid-column-start: 2;
        grid-column-end: span 1;
    } */
    #grid-container-clients{
        grid-template-columns: auto auto auto auto;
    }

        /* CONTACT SECTION RESIZING */
        .grid-container-contact{
            width: 100%;
            padding-bottom: 4em;
            row-gap: 1.25em;
            height: auto;
        }
        #address{
            grid-column: 1 / span 1;
        }
        #enquiries{
            grid-column: 2 / span 2;
        }
        #contact-socials{
            grid-row: 6;
            grid-column: 1 / span 2;
            justify-content: space-between;
        }
        .grid-container-socials{
            grid-template-columns: auto auto auto auto;
        }
        #amCopyright{
            grid-column-start: 4;
            grid-column-end: span 1;
            grid-row: 1;
            justify-self: center;
        }
}

@media screen and (max-width: 768px ) {
    #address,
    #enquiries{
        grid-column: 1 /span 2;
    }
    .grid-container-socials{
        grid-template-columns: auto auto auto;
        row-gap: 0.75em;
    }
    #amCopyright{
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row: 2;
        justify-self: flex-start;
    }
    #grid-container-services{
        grid-column: span 2;
        grid-template-rows: auto;
    }

    /* ABOUT SECTION RESIZING */
    .grid-item-about, 
    .team{
        grid-column: 1 / span 2;
    }

    #alex-text{
        grid-row: 3;
    }
    #ahna-img{
        grid-column: 1 / span 2;
        grid-row: 4;
    }
    #ahna-text{
        grid-column: 1 / span 2;
        grid-row: 5;
    }
    #minka-img{
        grid-row: 6;
    }
    #minka-text{
        grid-row: 7;
    }
    #lauren-img{
        grid-column: 1 / span 2;
        grid-row: 8;
    }
    #lauren-text{
        grid-column: 1 / span 2;
        grid-row: 9;
    }

    #about-services{
        grid-row: 10;
        margin-top: 2em;
    }
    #about-client{
        grid-row: 19;
        padding-top: 2em;
    }
    #about-client-text{
        grid-row: 20;
    }
    #about-client-img{
        grid-row: 21;
    }
    #grid-container-services{
        grid-template-rows: auto;
    }

    #grid-container-clients{
        grid-template-columns: auto auto auto auto;
    }

}
@media screen and (max-width: 600px ) {
    .grid-container-workmenu,
    #about-intro,
    .grid-container-contact{
        padding: 8em 8em 4em 3em;
    }
    .grid-container-about{
        padding: 3em 8em 4em 3em;
    }

}

@media screen and (max-width: 480px ) {
    nav{
        font-size: 16px;
        top: 205px;
    }
    h1{
        font-size: 20px;
        line-height: 22px;
    }
    h2{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }
    p{
        font-size: 14px;
        line-height: 17px;
    }
}