@media all and (max-width: 1024px ) {
    /* Making RIGHT cont full width */
    #rightcont.showme{
        width: 50%;
    }
    #menu-text{
        width: 50%;
    }
    /* RESIZING LEFT CONT TO APPEAR FROM TOP */
    .leftcont{
        height: 50vh;
        position: relative;
        top: 0px;
        left: 0px;
    }
    .swiper-container{
        width: 100%;
        height: 40%;
      }
      .swiper-wrapper{
          height: 40%;
      }
      .swiper-slide{
          height: 40%;
          justify-content: flex-start;
          align-items: center;
      }
    #project-img-container > section{
        width: 100vw;
        min-height: 50vh;
        transform: translateX(0%);
        transform: translateY(-100%);
        transition: 0.75s;
    }
    #mappp-wrapper{
        position: fixed;
        bottom: 0px;
        width: 50%;
        height: 60vh;
    }
    #project-container{
        height: 50%;
        width: 100%;
        position:fixed;
        bottom: 0;
        left: 0;
        overflow-y: hidden;
        padding: 40px;
        
    }
}

@media all and (max-width: 768px ) {
    #homelogo img{
        width: 50px;
        height: 23px;
    }
    #rightcont.showme{
        width: 100vw;
        height: fit-content;
        padding-top: 70px;
    }
    h1{
        font-size: 250%;
    }
    h2{
        font-size: 120%;
    }
    #project-menu{
        height: fit-content;
    }
    #mappp-wrapper{
        position: fixed;
        margin-left: -40px;
        bottom: 0px;
        width: 100%;
        height: 60vh;
    }
}

@media all and (max-width: 600px ) {
    #mappp-wrapper{
        position: fixed;
        margin-left: -40px;
        bottom: 0px;
        width: 100%;
        height: 60%;
    }
    #map {
        height: 100%;
        width: 100%;
      }
    #mc-embedded-subscribe-form{
        width: 100% !important;
        margin: auto;
    }
    #menu-text{
        padding-top: 100px;
    }
    #rightcont{
        padding-top: 100px;
        height: max-content;
    }
}
@media all and (max-width: 480px ) {
    .grid-container-about-services{
        row-gap: 1em;
    }
    .leftcont{
        height: 50vh;
    }
    #menu-text{
        top: 0px;
        left: 0;
        padding-top: 90px;
        width: 100%;
    }
    #rightcont.showme{
        padding-top: 90px;
        padding-bottom: 0px;
    }
    h1{
        font-size: 170%;
    }
    h2{
        font-size: 115%;
    }
    h3{
        font-size: 110%;
    }
    p{
        font-size: 95%;
    }
    #project-menu li{
        padding-bottom: 15px;
    }
    #mc-embedded-subscribe{
        width: 100% !important;
        padding:10px !important;
        margin: 0.5em 0em !important;
        color: white !important;
        background-color: black !important;
        border: none !important;
        border-radius: 0px !important;
        border-bottom: 1px solid var(--amWhite) !important;
        justify-content: center !important;
        font-family: degular, sans-serif !important;
        font-weight:lighter !important;
        font-style: normal !important;
        font-size: 90% !important;
        text-transform: uppercase !important;
        text-align: center;
    }
    #contact-form-card > input,
    #contact-form-card textarea,
    :placeholder-shown{
        width: 100%;
        padding:10px;
        margin: 0.5em 0em;
        color: white;
        background-color: black;
        border: none;
        border-bottom: 2px solid var(--amWhite);
        justify-content: space-around;
        font-family: degular, sans-serif;
        font-weight:lighter;
        font-style: normal;
        font-size: 90%;
        text-transform: uppercase;
    }
}