/*header - main styling*/
:root{
    cursor: url("assets/img/am21-04_logo_cursor_a.png");

    --amBlack: #000000;
    --amWhite: #fefef7;
}

body{
    font-family: degular, sans-serif;
    font-weight:lighter;
    font-style: normal;
    cursor: default;
}
#homelogo{
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    cursor: pointer;
}
/*consistent styling throughout*/
p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    font-kerning:4px;
    letter-spacing:auto;
    line-height: 19px;
    color: var(--amWhite);
    padding: 5px 0px;
}

.about .block,
.contact .block{
    padding-left: 30px;
}

h1,
h2,
h3,
h4{
    letter-spacing: 1px;
    color: white;
    font-kerning: auto;
}

/* h1 styling for project titles in menu */
h1{
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
}

/* h2 styling - intro paragraphs, team names, services, clients, contact us headings */
h2{
    font-weight:300;
    font-size: 22px;
    line-height: 1.25;
}

/* job title */
h3{
    font-weight:300;
    font-size: 20px;
    line-height: 1.25;
}

/* number and service heading */
h4{
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline;
    text-transform:uppercase;
    text-underline-offset: 3px;
    text-decoration-thickness: 8%;
    line-height: 19px;
}

h5{
    font-size: 15px;
    font-weight: normal;
    line-height: 19px;
}


/* end consistent styling section */

/* MENU FUNCTIONALITY */

/* styling of ALL nav elements */
nav{
    font-family: degular, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    position: fixed;
    right: -190px;
    top: 215px;
    text-transform: uppercase;
    transform: rotate(90deg);
    text-decoration: none;
    color: var(--amBlack);
    z-index: 99;
}
/* positioning of nav elements */
nav li{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
    list-style: none;
    padding: 20px 50px 20px 50px;
    cursor: pointer;
}

#workNav.underline,
#aboutNav.underline,
#contactNav.underline{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 15%;
}

.menu{
    visibility: hidden;
}

.menu:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 15%;
}

.menu.showme{
    visibility: visible;
}

.menu.white{
    color: var(--amWhite);
}

#navBtn{
    font-family: degular, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    transform: rotate(90deg);
    z-index: 99;
    visibility: visible;
    transform: rotate(45deg);
    text-decoration: none;
    transition: 0.5s;
}

#navBtn:hover{
    text-decoration: none;
    cursor: pointer;
}

#navBtn.showme{
    transform: rotate(0deg);
}
#navBtn.white{
    color: var(--amWhite);
}

/* right container */
#rightcont{
    width: 0;
    background-color: black;
    position:fixed;
    top: 0;
    right: 0;
    overflow-y: hidden;
    transform: translateX(100%);
    transition: 0.75s;
}
#rightcont.showme{
    width: 40%;
    display: block;
    transform: translateX(0%);
    z-index: 1;
}
/* left container overflow */
#project-img-container{
    overflow-y: scroll;
}
/* RIGHT menu display and overflow */
.work,
.about,
.contact{
    display: none;
    height: 100vh;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: 0.75;
}
/* on hover, allow scroll */
.work:hover{
    overflow: scroll;
}

.work.showme,
.about.showme,
.contact.showme{
    display: block;
    transform: translateX(0%);
}

/* grid CONTAINER structure of WORK */
.grid-container-workmenu{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    padding: 3em 10em 4em 3em;
    column-gap: 2em;
    row-gap: 3em;
}
.grid-item-workmenu{
    vertical-align: baseline;
}
.work h1{
    padding-left: 0px;
    transition: padding-left 0.25s;
}
.work h2{
    line-height: 30px;
}
/* underline on hover of project headings */
.work h1:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 8%;
    cursor: grab;
    padding-left: 20px;
    transition: padding-left 0.25s;
}
.work h1:hover + .block{
    padding-left: 20px;
    transition: padding-left 0.25s;
}
/*toggle descriptions in work menu*/
.work p{
    padding-left: 0px;
    transition: padding-left 0.25s;
    display: none;
}

.block{
    padding-top: 15px;
}
/* grid CONTAINER structure of ABOUT */
#about-intro{
    width: 100%;
    padding: 3em 10em 4em 4em;
}
.grid-container-about{
    width: 40vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 3em 10em 3em 4em;
    column-gap: 2em;
    row-gap: 3em;
}
/* grid ITEMS composition of ABOUT */
    .grid-container-about img{
        grid-column: 1 / span 2;
    }
    #team-heading{
        grid-column: 1 / span 2;
    }
    #about-client-text{
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 11;
    }
    #client-heading{
        padding-bottom: 1em;
    }
    #about-client-img{
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 12;
    }
    #about-services{
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 6;

    }
/* grid CONTAINER structure of CLIENTS IN ABOUT */
    #grid-container-clients{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        column-gap: 2em;
        row-gap: 1em;
    }
/* grid CONTAINER structure of SERVICES IN ABOUT */
    #grid-container-services{
        display: grid;
        grid-template-columns: 45px auto;
        grid-template-rows: 40px auto;
        column-gap: 1em;
        row-gap: 1em;
        color: var(--amWhite);
    }
    .grid-item-about-sub{
        cursor: pointer;
    }
/* grid composition of ABOUT TEAM */
    #alex,
    #ahna{
            flex: 1 0 20%;
            padding: 1.75rem 1rem 0rem 1.75rem;
            /* when the screen resizes, make it so our columns don't jump in size */
            transition: flex-basis 500ms linear;
            margin-bottom: 1rem;
    }

/*list of services*/
.about li{
    list-style:none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#liheader{
    text-decoration: underline;
}

.hidden-list{
    display: none;
    transition: 0.5s;
}

.hover:hover .hidden-list{
    display: block;
    transition: 0.5s;
}

/* grid CONTAINER structure of CONTACT */
.grid-container-contact{
    width: 40vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding:3em 11em 3em 4em;
    column-gap: 2em;
    row-gap: 2.5em;
    /* height: 100vh; */
    align-content: space-between;
}
/* grid ITEMS composition of CONTACT */
#contact-intro{
    grid-column: 1 / span 2;
}
#contact-form{
    /* padding:3em 11em 3em 4em; */
    grid-column-start: 1;
    grid-column-end: span 2;
    /* grid-row: 3; */
}
#contact-socials{
    /* padding:0em 11em 3em 4em; */
    /* grid-column-start: 1;
    grid-column-end: span 2; */
    grid-row: 5;
    display: flex;
    /* padding-bottom: 2em; */
    justify-content: space-around;
    align-items: flex-end;
}
/* grid CONTAINER structure of SOCIALS in CONTACT */
.grid-container-socials{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 2em;
    color: white;
    justify-content: space-around;
}

#address,
#enquiries{
    max-width: 300px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    flex: 1 0 20%;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
}

/* CONTACT US FORM */
form{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
form > input,
form textarea,
:placeholder-shown{
    width: 100%;
    padding:10px;
    margin: 0.5em 0em;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 2px solid var(--amWhite);
    justify-content: space-around;
    font-family: degular, sans-serif;
    font-weight:lighter;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
}
#submit:hover{
    background-color: var(--amWhite);
    color: var(--amBlack);
    cursor: pointer;
}
::placeholder{
    color: var(--amWhite);
}
#name:hover,
#email:hover,
#subject:hover,
#message:hover{
    /* color: var(--amBlack); */
    background-color: rgb(254, 254, 247);
}

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: var(--amBlack);
}
input:hover,
textarea:hover{
    color: var(--amBlack);
}

#name:focus,
#email:focus,
#subject:focus,
#message:focus{
    border: 2px solid var(--amWhite);
    outline: none;
}
/*social links style*/
.contact ul{
    width: 100%;
    padding-top: 30px;
}
.contact li{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--amWhite);
}
.contact a:link,
.contact a:visited{
    color: var(--amWhite);
    text-decoration: none;
}
.contact a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 8%;
}

/* LEFT SIDE - Project sections */
/* .leftcont{
    display: none;
} */
#project-img-container > section{
    width: 60vw;
    min-height: 100vh;
    background-color: var(--amWhite);
    position:absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 99;
    display: none;
    transform: translateX(-100%);
    transition: 0.75s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project .img{
    display: flex;
}

/* Slideshow */
.slideshow-container{
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    position: fixed;
    /* overflow: hidden; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    .mySlides{
        width: 100vw;
        height: 100vh;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 auto;
    }

    .fadeslide img{
        opacity:0; 
        animation-name: fadeInSlide; 
        animation-duration: 20s; 
        animation-iteration-count: infinite;
    }

    @keyframes fadeInSlide {
        0%   { opacity: 0; }
        20%   { opacity: 1; }
        40%  { opacity: 1; }
        60%  { opacity: 0; }
        80%  {opacity: 0;}
        100% { opacity: 0; }
    }

    #delay1 { animation-delay: 0s; }
    #delay2 { animation-delay: 5s; }
    #delay3 { animation-delay: 10s; }
    #delay4 { animation-delay: 15s; }
    /* #delay5 { animation-delay: 12s; } */