:root{
    --amBlack: #000000;
    --amWhite: #ffffff;
    --swiper-theme-color: #ffffff; 
}
::selection{
    color: var(--amBlack);
    background-color: var(--amWhite);
}
*{
    scroll-behavior: smooth;
}
body{
    font-family: degular, sans-serif;
    font-weight:lighter;
    font-style: normal;
    cursor: url('../img/am-collateral/am21-04_logo_cursor_a.png') 15 15, auto;
}
#homelogo{
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    cursor: pointer;
}
/*consistent styling throughout*/
p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    font-kerning:4px;
    letter-spacing:auto;
    line-height: 19px;
    color: var(--amWhite);
    padding: 5px 0px;
}
.about .block,
.contact .block{
    padding-left: 30px;
}
h1,
h2,
h3,
h4{
    letter-spacing: 1px;
    color: white;
    font-kerning: auto;
}
/* h1 styling for project titles in menu */
h1{
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
}
/* h2 styling - intro paragraphs, team names, services, clients, contact us headings */
h2{
    font-weight:300;
    font-size: 22px;
    line-height: 1.25;
}
/* job title */
h3{
    font-weight:300;
    font-size: 20px;
    line-height: 1.25;
}
/* number and service heading */
h4{
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline;
    text-transform:uppercase;
    text-underline-offset: 3px;
    text-decoration-thickness: 8%;
    line-height: 19px;
}
h5{
    font-size: 15px;
    font-weight: normal;
    line-height: 19px;
    color: var(--amWhite);
}
/* end consistent styling section */

/* MENU FUNCTIONALITY */

/* styling of ALL nav elements */
nav{
    font-family: degular, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    position: fixed;
    right: -190px;
    top: 215px;
    text-transform: uppercase;
    transform: rotate(90deg);
    text-decoration: none;
    color: var(--amBlack);
    z-index: 1001;
}
/* POSITIONING AND STYLNIG OF NAV ELEMENTS */
nav li{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
    list-style: none;
    padding: 20px 50px 20px 50px;
}
#workNav.underline,
#aboutNav.underline,
#contactNav.underline{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 15%;
}
.menu{
    visibility: hidden;
}
.menu:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 15%;
}
.menu.showme{
    visibility: visible;
}

.menu.white{
    color: var(--amWhite);
}
#navBtn{
    font-family: degular, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    transform: rotate(90deg);
    z-index: 1000;
    visibility: visible;
    transform: rotate(45deg);
    text-decoration: none;
    transition: 0.5s;
}
#navBtn:hover{
    text-decoration: none;
    cursor: pointer;
}
#navBtn.showme{
    transform: rotate(0deg);
}
#navBtn.white{
    color: var(--amWhite);
}
/* RIGHT CONTAINER */
#rightcont{
    width: 0;
    background-color: black;
    position:fixed;
    top: 0;
    right: 0;
    overflow-y: hidden;
    transform: translateX(100%);
    transition: 0.75s;
}
#rightcont.showme{
    width: 40%;
    display: block;
    transform: translateX(0%);
    z-index: 1;
}
/* LEFT CONTAINER OVERFLOW */
#project-img-container{
    overflow-y: scroll;
}
/* RIGHT MENU DISPLAY AND OVERFLOW */
.work,
.about,
.contact{
    display: none;
    height: 100vh;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: ease 0.75;
    cursor: url('../img/am-collateral/am21-04_logo_cursor_a_rev.png') 15 15, auto;
}
/* ALLOW SCROLL ON HOVER */
.work:hover{
    overflow: scroll;
}
.work.showme,
.about.showme,
.contact.showme{
    display: block;
    transform: translateX(0%);
    transition: ease 0.75;
}
/* grid CONTAINER structure of WORK */
.grid-container-workmenu{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    padding: 3em 10em 2em 3em;
    column-gap: 2em;
    row-gap: 3em;
}
.grid-item-workmenu{
    vertical-align: baseline;
}
.work h1{
    padding-left: 0px;
    transition: padding-left 0.35s;
}
.work h2{
    line-height: 30px;
}
/* UNDERLINE ON HOVER OF PROJECT HEADINGS */
.work h1:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 8%;
    padding-left: 20px;
    transition: padding-left 0.35s;
}
.work h1:hover{
    padding-left: 20px;
    transition: padding-left 0.35s;
}
/*TOGGLE DESCRIPTIONS IN WORK MENU*/
.work p{
    padding-left: 0px;
    transition: padding-left 0.25s;
    display: none;
    opacity: 1;
}

.block{
    padding-top: 15px;
}
/* grid CONTAINER structure of ABOUT */
#about-intro,
#about-team,
#about-services,
#about-clients{
    width: 100%;
    padding: 3em 10em 4em 4em;
}

#about-team,
#about-services,
#about-clients{
    display: none;
}

#about-team.showme,
#about-services.showme,
#about-clients.showme{
    display: block;
}


/* TEAM*/
.grid-container-about-team{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 0em;
    column-gap: 2em;
    row-gap: 3em;
}
/* grid ITEMS composition of ABOUT */
    .grid-container-about-team img{
        grid-column: 1 / span 2;
    }
    #team-heading{
        grid-column: 1 / span 2;
    }
    #about-client-text{
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 11;
    }
    #client-heading{
        padding-bottom: 1em;
    }
    #about-client-img{
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 12;
    }
    #about-services{
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 6;
    }

    /* SERVICES */
.grid-container-about-services{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 0em;
    row-gap: 2em;
}
.slide-down-hover{
    display: inline-flex;
}

.slide-down-hover h4{
    text-decoration: none;
}

.slide-down-hover:hover h4{
    text-decoration: underline;
}

.slide-down-hover h5{
    padding-right: 1.5em;
}

/* grid CONTAINER structure of CLIENTS IN ABOUT */
    #grid-container-clients{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        column-gap: 2em;
        row-gap: 1em;
    }

/* grid composition of ABOUT TEAM */
    #alex,
    #ahna{
            flex: 1 0 20%;
            padding: 1.75rem 1rem 0rem 1.75rem;
            transition: flex-basis 500ms linear;
            margin-bottom: 1rem;
    }

/*LIST OF SERVICES*/
.about li{
    list-style:none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
#liheader{
    text-decoration: underline;
}

.hidden-list{
    display: none;
    color: var(--amWhite);
    padding-top: 1em;
    padding-left: 2.7em;
}

/* grid ITEMS composition of CONTACT */
#contact-intro,
#contact-contactus,
#contact-visitus{
    width: 100%;
    padding: 3em 10em 4em 4em;
}

#contact-contactus,
#contact-visitus{
    display: none;
}

#contact-contactus.showme,
#contact-visitus.showme{
    display: block;
}

.contact li{
    list-style:none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#contact-socials{
    position: fixed;
    bottom: 40px;
    width: 80%;
}
#contact-socials li{
    display: inline-flex;
    flex-wrap: wrap;
    padding-right: 10px;
    justify-content: space-between;
}
#copyright-am:hover{
text-decoration: none;
}
/* grid CONTAINER structure of SOCIALS in CONTACT */
.grid-container-socials{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 2em;
    color: white;
    justify-content: space-around;
}
#address,
#enquiries{
    max-width: 300px;
    flex: 1 0 20%;
    transition: flex-basis 500ms linear;
}
/* CONTACT US FORM */
#contact-form-card{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#contact-form-card > input,
#contact-form-card textarea,
:placeholder-shown{
    width: 100%;
    padding:10px;
    margin: 0.5em 0em;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 2px solid var(--amWhite);
    justify-content: space-around;
    font-family: degular, sans-serif;
    font-weight:lighter;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
}
#submit:hover{
    background-color: var(--amWhite);
    color: var(--amBlack);
    cursor: url('../img/am-collateral/am21-04_logo_cursor_a.png') 15 15, auto;
}
::placeholder{
    color: var(--amWhite);
}
#name:hover,
#email:hover,
#subject:hover,
#message:hover{
    background-color: rgb(254, 254, 247);
    cursor: url('../img/am-collateral/am21-04_logo_cursor_a.png') 15 15, auto;
}
input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: var(--amBlack);
}
input:hover,
textarea:hover{
    color: var(--amBlack);
}
#name:focus,
#email:focus,
#subject:focus,
#message:focus{
    border: 2px solid var(--amWhite);
    outline: none;
}
.contact a:link,
.contact a:visited{
    color: var(--amWhite);
    text-decoration: none;
}
.contact a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 8%;
cursor: inherit;
}

/* PROJECT IMAGES CONTAINER */
.left-cont{
    background-color: white;
}
#project-img-container > section{
    width: 60vw;
    min-height: 100vh;
    background-color: white;
    position:absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 99;
    display: none;
    transform: translateX(-100%);
    transition: 0.75s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project .img{
    display: flex;
    line-height: 0  ;
    float: top;
}
.projectfetti{
    background-color: #E0E0E1;
}

/* BACKGROUND SLIDESHOW */
.slideshow-container{
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0 auto;
    position: fixed;
    object-fit: cover;
    overflow: hidden;
}

/* FADE ANIMATION */
.fade{
    opacity: 0;
    transition: ease;
    animation-name: fade;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 50;}
    100% {opacity: 100;}
}
#mappp-wrapper{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60vh;
    margin-left: -4em;
}

#map {
    height: 100%;
    width: 100%;
  }
#contact-enq-wrapper{
    height: 100vh;
}

/* SWIPER */
.swiper-container{
background-color: var(--amWhite);
width: 60%;
height: 100vh;
}
.swiper-slide{
display: flex;
background-color: var(--amBlack);
justify-content: center;
align-items: center;
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.swiper-slide .bottom{
    background-position: bottom !important;
}

.swiper-pagination-bullet-active{
background-color: var(--amBlack) !important;
}

/* MAILCHIMP SUBSCRIBERS */
#subscriber-close-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 15px;
}
#subscriber-container{
    position: fixed;
    z-index: 3000;
    background-color: rgba(255, 255, 255, 0.63);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('../img/am-collateral/am21-04_logo_cursor_a_rev.png') 15 15, auto;
}
#mc-embedded-subscribe-form{
    text-align: left !important;
    background-color: var(--amBlack) !important;
    color: var(--amWhite) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
    width: 550px !important;
    height: auto !important;
    padding: 50px 50px 50px !important;
    position: relative !important;
}
#mce-EMAIL,
#mc-embedded-subscribe{
    width: 100% !important;
    padding:10px !important;
    margin: 1.5em 0em !important;
    color: white !important;
    background-color: black !important;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid var(--amWhite) !important;
    justify-content: center !important;
    font-family: degular, sans-serif !important;
    font-weight:lighter !important;
    font-style: normal !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
    text-align: center;
}

#mc-embedded-subscribe{
    margin: 0em !important;
}
#mce-EMAIL:hover,
#mc-embedded-subscribe:hover{
    background-color: rgb(254, 254, 247) !important;
    color: black !important;
    border-radius: 0px !important;
    border-bottom: 2px solid var(--amWhite) !important;
    text-transform: uppercase !important;
    cursor: url('../img/am-collateral/am21-04_logo_cursor_a.png') 15 15, auto;
}
#sub-email:hover::-webkit-input-placeholder{
    color: var(--amBlack) !important;
}
#sub-email:hover{
    color: var(--amBlack) !important;
}
#sub-email:focus{
    border: 2px solid var(--amWhite) !important;
    outline: none !important;
}
#subscribe:hover{
    background-color: var(--amWhite);
    color: var(--amBlack);
    cursor: pointer;
}
#sub-label{
    font-family: degular, sans-serif;
    font-weight: normal !important;
    font-size: 20px !important;
    cursor: url('../img/am-collateral/am21-04_logo_cursor_a_rev.png') 15 15, auto;
}

.about-li-inline,
.contact-li-inline{
    display: inline-block;
    line-height: 1.75;
}

.back-inline{
    display: inline-block;
    line-height: 1.75;
}

.right-arrow{
    padding-left: 1em;
}

.back-arrow{
    padding-right: 1em;
}

.about-li-hover,
.contact-li-hover{
    width:fit-content;
    transition: padding-left 0.35s;
}

.about-li-hover:hover,
.contact-li-hover:hover{
    padding-left: 20px;
    transition: padding-left 0.35s;
}

.about-li-hover:hover > span > h3,
.contact-li-hover:hover > span > h3{
    text-decoration: underline;    
    text-underline-offset: 3px;
    text-decoration-thickness: 8%;
}

.about-back-hover:hover > h3,
.contact-back-hover:hover > h3{
    text-decoration: underline;    
    text-underline-offset: 3px;
    text-decoration-thickness: 8%;
}


